.color-cyan{
	color : #34e5b9;
}

.color-cyan-dark{
	color : #28aa8a;
}

.bg-cyan{
	background-color : #34e5b9;
}

.bg-cyan-dark{
	background-color : #28aa8a;
}

.color-red{
	color : #f15025;
}

.bg-red{
	background-color : #f15025;
}

button.bg-red:active{
	background-color : #d23f18;
}

button.bg-red:hover{
	cursor: pointer;
}

.color-yellow{
	color : #f9d424;
}

.bg-yellow{
	background-color : #f9d424;
}

.color-lightblue{
	color : #75b9be;
}

button.color-lightblue:active{
	background-color: #f3f3f3;
}

button.color-lightblue:hover{
	color : #68cad2;
	cursor: pointer;
}

.bg-lightblue{
	background-color : #75b9be;
}

input[type=submit].bg-lightblue{
	background-color : #75b9be;	
	color: white;
}