<nav class="navbar bg-cyan">
  <a class="navbar-brand" href="#">ibahagi</a>
</nav>

<div id="hero" class="container">
	<div class="row">
		<div class="col-10">
			<h1 class="header">Twitter Classifier</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-sm-11">
			<span class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et est mauris. Donec at ante posuere, suscipit mauris vitae, pellentesque risus.</span>
		</div>
	</div>
</div>
<div id="app-divider"></div>