<div class="container-fluid">
	<div class="row" style="height: 100vh">
		<div id="tweetclass-menu" class="nospaces col-md-5 col-sm-12">
			<div id="content-section">
				<div class="content">
					<!--LABEL : TOP CITIES-->
					<div class="label">
						<span class="label-title">Cities with the Most Tweets</span>
						<button class="label-button color-lightblue" style="float: right;">more</button>
						<div class="label-title-line bg-yellow"></div>
					</div>
					
					<!--LIST : TOP CITIES-->
					<ul class="custom-list">
						<li>
							<span class="list-right-data">15 000+</span>
							<p>
								<span class="list-title">Tacloban</span><br>
								<span class="list-subtitle">Eastern Visayas</span>
							</p>
						</li>
						<li>
							<span class="list-right-data">15 000+</span>
							<p>
								<span class="list-title">Tacloban</span><br>
								<span class="list-subtitle">Eastern Visayas</span>
							</p>
						</li>
						<li>
							<span class="list-right-data">15 000+</span>
							<p>
								<span class="list-title">Tacloban</span><br>
								<span class="list-subtitle">Eastern Visayas</span>
							</p>
						</li>
						
					</ul>

					<!--LABEL : LUZON VISAYAS MINDANAO-->
					<div class="label">
						<span class="label-title">Explore by Region</span>
						<div class="label-title-line bg-yellow"></div>
					</div>

					<!--LIST : LUZON VISAYAS MINDANAO-->
					<ul class="custom-list">
						<li>
							<span class="list-title middle">Luzon</span>
							<span class="list-right-data">15 000+</span>
						</li>
						<li>
							<span class="list-title middle">Visayas</span>
							<span class="list-right-data">15 000+</span>
						</li>
						<li>
							<span class="list-title middle">Mindanao</span>
							<span class="list-right-data">15 000+</span>
						</li>
					</ul>
					
				</div>
			</div>
			<div id="menu-header-section" class="withpadding">
				<h4 class="section-title">Philippines</h4>
				<p class="section-subtitle color-red">Analyze tweets from</p>
				<button id="tweet-datepicker" class="bg-red">Yolanda <span class="parenthesized-date">(Nov 2012 to Feb 2013)</span></button>
			</div>
			<div id="filter-section" class="withpadding">
				<span class="section-title-small">Filter (2700 tweets)</span>
			</div>
		</div>
		<div id="tweetclass-map" class="nospaces col-md-7 col-sm-12">
			<sebm-google-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="6" [streetViewControl]="false">
			  <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
			</sebm-google-map>
		</div>
	</div>
</div>