.color-cyan{
	color : #34e5b9;
}

.color-cyan-dark{
	color : #28aa8a;
}

.bg-cyan{
	background-color : #34e5b9;
}

.color-red{
	color : #f15025;
}

.bg-red{
	background-color : #f15025;
}

.color-yellow{
	color : #f9d424;
}

.bg-yellow{
	background-color : #f9d424;
}

.color-lightblue{
	color : #75b9be;
}

.bg-lightblue{
	background-color : #75b9be;
}
